$color-background:#F3F3F3;
$color-background-r: #FF5539;
$color-background-j: #505050;
$color-background-a: #E5E5E5;
$color-background-b: #F8F8F8;
$color-background-c: #CCCCCC;
$color-background-d: #DDDDDD;
$color-background-e: #EEEEEE;
$color-background-f: #FFFFFF;
$color-background-g: #ff6950;
$color-background-l: #41b6cb;
$color-background-k: #8C8C8C; 
$color-background-p: #FF8F53;
$color-background-n: #000000;

$color-origin: #FF7A32;
$color-origin-c: #ca8e6e;
$color-text: #333333;
$color-gray-a:#666666;
$color-gray: #999999;
//字体定义规范
$font-size-zero: 0;
$font-size-small-s : 10px;
$font-size-small : 12px;
$font-size-medium : 14px;
$font-size-medium-x : 16px;
$font-size-large : 18px;
$font-size-large-m : 20px;
$font-size-large-x : 22px;